# Version control
.git
.github
.gitignore

# Environment and cache
.venv
.env
.env.local
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache
.pdm-build

# Distribution / packaging
dist
build
*.egg-info

# Development
.vscode
.idea
*.swp
*.swo

# Docs
docs/site

# Notebooks
notebooks/.ipynb_checkpoints

# Docker
Dockerfile
.dockerignore 